{% extends 'base.html' %}

{% block content %}

<div class="container-fluid text-center">
      <div class="row align-items-start">
          <div class="row gy-4">
              <h1 style="font-size: 70px" class="main_text">
                  доступные предметы
              </h1>
          </div>
      </div>
  </div>


        <div class="container-fluid mt-5">
    <div class="row justify-content-center">
    <div class="col-6">
    <br><br>
        <table class="table table-borderless">
          <thead>
            <tr>
                <th class="main_text" style="color: aquamarine" scope="col"><h3>ID</h3></th>
                <th class="main_text" style="color: aquamarine" scope="col"><h3>Название</h3></th>
                <th class="main_text" style="color: aquamarine" scope="col"><h3>Кол-во</h3></th>
                <th class="main_text" style="color: aquamarine" scope="col"><h3>Статус</h3></th>

            </tr>
          </thead>
          <tbody>
            <tr>
                {% for item in items %}

                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.status }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
    </div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="item_id" style="color: aquamarine;"><b>Введите id предмета</b></label>
                            <input type="text" id="item_id" name="item_id" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="item_id" style="color: aquamarine;"><b>Введите количество</b></label>
                            <input type="text" id="value" name="value" class="form-control" required>
                        </div>
                        <br>
                        <div class="container text-center">
                        <button type="submit" style=" --bs-btn-padding-y: 0.4rem; --bs-btn-padding-x: 6rem; --bs-btn-font-size: 1rem;
                      color: aquamarine; border: 3px solid aquamarine; font-family:'Cascadia Code';" class="btn btn-dark">
                            отправить заявку
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="container mt-5 text-center">
        <div class="row justify-content-center">
        <div class="col-md-6">
    {% for cat, msg in get_flashed_messages(True) %}
        <div id ="popup" class="flash {{cat}}"><h3><b>{{msg}}</b></h3></div>
    {% endfor %}
        </div>
    </div>
</div>

    <script src="../static/script_for_flash.js"></script>
{% endblock %}