{% extends 'base.html' %}

{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1 style="color: aquamarine; font-family: 'Archivo Black'; text-shadow: 0 0 10px">
                        Edit id: {{ item.id }} name: {{ item.name }}
                    </h1>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="name" style="color: aquamarine;"><b>name</b></label>
                            <input type="text" id="name" name="name" class="form-control" required value="{{ item.name }}">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="quantity" style="color: aquamarine;"><b>quantity</b></label>
                                                        <input type="number" id="quantity" name="quantity" class="form-control" required value="{{ item.quantity }}">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="status" style="color: aquamarine;"><b>status</b></label>
                            <select class="form-select" aria-label="Default select example" name="status">
                                <option value="new" {% if item.status == 'new' %}selected{% endif %}>Новый</option>
                                <option value="used" {% if item.status == 'used' %}selected{% endif %}>Использованный</option>
                                <option value="broken" {% if item.status == 'broken' %}selected{% endif %}>Сломанный</option>
                            </select>
                        </div>
                        <br>
                        <div class="container text-center">
                            <button type="submit" style=" --bs-btn-padding-y: 0.4rem; --bs-btn-padding-x: 6rem; --bs-btn-font-size: 1rem; color: aquamarine; border: 3px solid aquamarine; font-family:'Archivo Black';" class="btn btn-dark">
                                submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% for cat, msg in get_flashed_messages(True) %}
                <div id ="popup" class="flash {{ cat }}"><h3><b>{{ msg }}</b></h3></div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="../static/script_for_flash.js"></script>
{% endblock %}

