{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                   <h1 class="main_text">
                  Вход
                   </h1>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="username" style="color: aquamarine;"><b>имя пользователя</b></label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password" style="color: aquamarine;"><b>пароль</b></label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <br>
                        <div class="container text-center">
                        <button type="submit" style=" --bs-btn-padding-y: 0.4rem; --bs-btn-padding-x: 6rem; --bs-btn-font-size: 1rem;
                      color: aquamarine; border: 3px solid aquamarine; font-family: 'Bahnschrift', sans-serif;" class="btn btn-dark">отправить

                        </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

     <div class="container mt-5 text-center">
        <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="d-grid gap-2">
                <a href="/registration" role="button" style="color: aquamarine; border: 3px solid aquamarine; font-family: 'Bahnschrift', sans-serif; font-size: 15px"
                        class="btn btn-dark">
                    регистрация
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a href="{{ url_for('yandex_login') }}" class="btn btn-yandex">
               <span class="yandex-logo">Я</span>
                Войти через Yandex ID
            </a>
        </div>
    </div>
</div>

    <div class="container mt-5 text-center">
        <div class="row justify-content-center">
        <div class="col-md-6">
    {% for cat, msg in get_flashed_messages(True) %}
        <div id ="popup" class="flash {{cat}}"><h3><b>{{msg}}</b></h3></div>
    {% endfor %}
        </div>
    </div>
</div>

<script src="../static/script_for_flash.js"></script>


    <script src="../static/script_for_flash.js"></script>
{% endblock %}