@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .footer {
        margin-top: auto;
        padding: 15px 0;
    }
         .text-justify {
             text-align: justify;
         }

         * {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.main_text{
    color: aquamarine;
    font-family: 'Cascadia Code', sans-serif;
    text-shadow: 0 0 10px;
}


.flash {padding: 10px;}

.flash.success {
    color: #00f045;
    font-family: 'Verdana', monospace;
    -moz-text-shadow:0 0 20px #00f045;
    -webkit-text-shadow:0 0 20px #00f045;
    text-shadow:0 0 20px #00f045;
}

.flash.error {
    color: #cb1300;
    font-family: 'Verdana', monospace;
    -moz-text-shadow: 0 0 20px #cb1300;
    -webkit-text-shadow: 0 0 20px #cb1300;
    text-shadow: 0 0 20px #cb1300;
}

.btn-yandex {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
     font-family: 'Cascadia Code', monospace;
    width: 100%;
     border: none;
}

.btn-yandex:hover {
    background-color: #333;
}

.yandex-logo {
    display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 25px;
    height: 25px;
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 10px;
}

.user-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ddd;
    border-radius: 50%;
    margin-left: auto;
}

.table {
    background-color: #1e1e1e;
}
.table th {
    background-color: #212529;
    color: gray;
}

.form-control {
    background-color: #2a2a2a;
    color: #ffffff;
}

.form-control:focus {
    background-color: #4a4a4a;
    color: #ffffff;
    border-color: #80bdff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}